<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>

        <!-- Database connection settings -->
        <!--TODO rebuild it to proproties and default connection-->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost/hibernate</property>
        <property name="connection.username">root</property>
        <property name="connection.password">faraon</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>

        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Disable the second-level cache  -->
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create</property>

        <!-- Names the annotated entity class -->

        <mapping class="lv.z0.shaman.module.issue.models.Issue"/>
        <mapping class="lv.z0.shaman.core.models.User"/>

    </session-factory>

</hibernate-configuration>


        <!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="1.0">-->

<!--<persistence-unit name="NewPersistenceUnit">-->
    <!--<provider>org.hibernate.ejb.HibernatePersistence</provider>-->
    <!--<properties>-->
        <!--<property name="hibernate.connection.url" value="jdbc:mysql://localhost:3306/Icarus"/>-->
        <!--<property name="hibernate.connection.driver_class" value="com.mysql.jdbc.Driver"/>-->
        <!--<property name="hibernate.connection.username" value="root"/>-->
        <!--<property name="hibernate.connection.password" value=""/>-->
        <!--<property name="hibernate.archive.autodetection" value="class"/>-->
        <!--<property name="hibernate.show_sql" value="true"/>-->
        <!--<property name="hibernate.format_sql" value="true"/>-->
        <!--<property name="hbm2ddl.auto" value="create"/>-->
    <!--</properties>-->
    <!--<class>net.interaxia.icarus.data.models.ServerNode</class>-->
<!--</persistence-unit>-->
<!--</persistence>-->