table
    thead(align="center")
        tr
            th Type
            th Mon
            th Thu
            th Wen
            th Thr
            th Fri
            th Sut
            th Sun
    tfoot
        tr
            td TODO find why dont work without "<%"
            td
            td
            td
            td
            td
            td
            td Total: +73
    tbody