table
    thead(align="center")
        tr
            th Type
            | {{#week}}
            th {{curentDay}}
            | {{/week}}
    tfoot
        tr
            td
            td
            td
            td
            td
            td
            td
            td Total: +73
    tbody